*{
    z-index: 1;
}
body{
    margin: 0%;
    background-color: black;
}

.F-fundo {
    display: flex;
    justify-content: center; 
    
   
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background: linear-gradient(to bottom, 
        #ff7f00 14.28%, /* Laranja */
        #ffff00 28.57%, /* Amarelo */
        #00ff00 42.85%, /* Verde */
        #0000ff 57.14%, /* Azul */
        #4b0082 71.42%, /* Índigo */
        #8a2be2 85.71%  /* Violeta */
    );
   z-index: -1;
}

.F-fundo::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        url('https://i.gifer.com/YmEj.gif') center center repeat,
        url('https://i.gifer.com/YmEj.gif') center center repeat,
        url('https://i.gifer.com/YmEj.gif') center center repeat;
        
        
    opacity: 0.2;
    mix-blend-mode: overlay;
    z-index: 0;
}
.A-fundo {
    
    display: flex;

    flex-direction: column; /* Mudar a direção do layout para coluna */
    align-items: center; /* Centralizar itens horizontalmente */

    justify-content: center; /* Centralizar horizontalmente */

    background-color: white;
    height: auto;
    max-width: 1200px; /* Limitar a largura máxima */
    border-radius: 15px;
    margin: 15px;
    font-weight: 600;

}

.A-fundo .texto1 {
    text-align: center; /* Centralizar o texto horizontalmente */

    font-style: italic;   
}

.imgs {
    display: flex;
    align-items: center;
    
}

.img-container {
    text-align: center;
    margin: 0 50px;
    margin-top: 5px;
}

.img-container img {
    width: 300px; /* Tamanho fixo para a largura */
    height: 300px; /* Tamanho fixo para a altura */
    margin-bottom: 10px;
}

.img-container p {
    font: bold;
    font-style: italic;
    font-size: 15px;
    
}
.img1{
    z-index: 1;
}
.img2{
    position: absolute;
    z-index: 2;
}

.SI{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    opacity: 0;
}

/* 
***********************
***********************
        BANNER
***********************
***********************
*/
.F-banner .banner {
    border: 5px solid;
    border-radius: 20px;
    height: 500px;
    width: 1000px;
    border-radius: 19px;
    animation: border-color-animation 3s infinite; /* Definindo a animação */
}

.MH370{
    

    height: 500px;
    width: 1000px;
    border-radius: 19px;

    position: absolute;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

@keyframes border-color-animation {
    0% {
        border-color: #ff7f00; /* Laranja */
    }
    14.28% {
        border-color: #ff7f00; /* Laranja */
    }
    28.57% {
        border-color: #ffff00; /* Amarelo */
    }
    42.85% {
        border-color: #ffff00; /* Amarelo */
    }
    57.14% {
        border-color: #00ff00; /* Verde */
    }
    71.42% {
        border-color: #00ff00; /* Verde */
    }
    85.71% {
        border-color: #0000ff; /* Azul */
    }
    100% {
        border-color: #0000ff; /* Azul */
    }
}

/* 
*********************
*********************
        MENU
*********************
*********************
*/
@keyframes bordacor {
    to{
        border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red) 1;
    }
}
.menu {
    /* Alterado de flex para inline-block */
    display: flex;
    text-align: center;
    font-size: 26px;
    height: auto;
    width: auto;
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-radius: 5px;
    animation: border-color-animation 3s infinite;
    margin-top: 70px;
    margin-bottom: 100px;
}

.menu a{
    margin-top: 5px;
    text-decoration: none;
    color: black;
}
.menu a:hover{
    border: 1px solid ;
    border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red) 1;
    
}
.cima,
.baixo {
    width: 175px; /* Define a largura das divs para melhor visualização */
    height: 50px; /* Define a altura das divs para melhor visualização */
    
}
.cima {
    margin-top: 5px; /* Adiciona margem abaixo */
    top: 0;
 
    
}
.baixo {
    margin-top: 50px; /* Adiciona margem acima */
}
.cima {
    position: relative;
}

.link1  {
    position: absolute;
    top: 0;
    left: 60px;
    height: 31px;
    width: 120px;
    transition: opacity 0.3s ease; /* Adicionar uma transição suave */
}

.link1 {
    z-index: 2; /* Texto "sobre-nós" fica acima */
    
}

.link2  {
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 1; /* Texto "Verdade" fica abaixo */
    opacity: 0%;
    height: 20;
}

/* Tornar os links visíveis quando o mouse passa por cima */
.cima:hover .link2 {
    opacity: 1;
    transition: 3s ease-in;
  
}

.menu .cima:first-child a:hover{
    background-color: #ffffeb;
}