* {
    z-index: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Cor de fundo mais suave */
    color: #333;
}

.F-fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,
        #6a1b9a 0%,     /* Violeta */
        #d84315 14.28%, /* Laranja */
        #fbc02d 28.57%, /* Amarelo */
        #4caf50 42.85%, /* Verde */
        #1976d2 57.14%, /* Azul */
        #6a1b9a 71.42%, /* Índigo */
        #6a1b9a 100%    /* Violeta */
    );
    height: auto;
}

.F-fundo::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        url('https://i.gifer.com/YmEj.gif') center center repeat,
        url('https://i.gifer.com/YmEj.gif') center center repeat,
        url('https://i.gifer.com/YmEj.gif') center center repeat;
    opacity: 0.05;
    mix-blend-mode: overlay;
    z-index: 0;
}

.A-fundo {
    margin-top: 20px;
    padding: 40px; /* Aumentando o espaçamento interno */
    background-color: rgba(255, 255, 255, 0.95); /* Transparência mais suave */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionando uma sombra suave */
    max-width: 800px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    line-height: 1.2; /* Melhorando o espaçamento entre linhas */
    color: snow; /* Torna o texto transparente para usar a sombra */
    text-align: center;
    text-shadow: 
        0 0 5px #6a1b9a,   /* Violeta */
        0 0 5px #d84315,   /* Laranja */
        0 0 5px #fbc02d,   /* Amarelo */
        0 0 5px #4caf50,   /* Verde */
        0 0 5px #1976d2,   /* Azul */
        0 0 5px #6a1b9a;   /* Índigo */
}

/* Estilo para os parágrafos */
p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}
.w {
    font-size: 2.5em;
    margin-bottom: 20px;
    line-height: 1.2; /* Melhorando o espaçamento entre linhas */
    color: rgb(255, 255, 255); /* Torna o texto transparente para usar a sombra */
    text-align: center;

}