*{
    z-index: 1;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.F-fundo {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background: black;
    
}
.F-fundo::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        url('https://i.gifer.com/YmEj.gif') center center repeat,
        url('https://i.gifer.com/YmEj.gif') center center repeat,
        url('https://i.gifer.com/YmEj.gif') center center repeat;
        
        
    opacity: 1;
    mix-blend-mode: overlay;
    z-index: 2;
}
.A-fundo {
    height: 500px;
    text-align: center;
    
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    line-height: 1.4;
    color: #333;
}